/* Xử lý container */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.content_dis {
  width: 100%;
  display: flex;
  background-color: #b5292f;
  border-radius: 10px;
}
.left_content {
  width: 200px;
  height: 550px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
.left_content p {
  font-size: 22px;
  color: white;
  font-weight: bold;
  line-height: 1.5;
}

.right_content video {
  max-width: 1000px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.allInfo {
  margin-top: 50px;
}

.text2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 50px;
}
.showtm {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.line {
  margin-top: 100px;
  width: 1200px;
  height: 1px;
  background-color: black;
}

.card {
  flex: 1;
  max-width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.card .info {
  padding: 15px;
}

.card .info h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.card .info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
