
body {
   font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: rgb(67, 67, 67);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar img {
      margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .sidebar h2 {
    text-align: center;
    color: #b5292f;
    margin-bottom: 30px;
  }
  
  .sidebar ul {
    list-style: none;
    width: 100%;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 30px;
  }
  
  .sidebar ul li a {
    color: #ddd;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    
  }
  
  .sidebar ul li a:hover {
    background-color: #b5292f;
    color: #fff;
  }
  
  .sidebar ul li a i {
    margin-right: 10px;
  }

  /* Xử lý content */
.content {
  margin: 0;
    width: 100%;
    padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header select{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header input{
  padding: 10px 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.header button:first-of-type {
  background-color: #b5292f;
}

.menu_container{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
/* Xử lý menu-item */

.menu-item {


  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; /* Padding hợp lý cho các phần tử trong menu-item */
  margin: 10px 0; /* Giữ khoảng cách giữa các món ăn */
  border: 1px solid #ddd; /* Tạo đường viền cho mỗi mục */
  border-radius: 8px; /* Bo góc */
  background-color: #fff; /* Màu nền trắng */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
 
}


.menu-item img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-right: 20px;
}
.menu-item .details {
  flex-grow: 1;
}
.menu-item .details h3 {
  margin: 0;
  font-size: 18px;
}
.menu-item .details p {
  margin: 5px 0;
  color: #666;
}
.menu-item .details button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.menu-item .price {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  color: #b5292f;
  margin-right: 20px;

}
.menu-item .actions {
  display: flex;
  justify-content: flex-end;
}
.menu-item .actions button {
  background-color: #b5292f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.menu-item .actions button:first-of-type {
  background-color: #b5292f;
}

  /* Xử lý pagination */
  .pagi {
    text-align: center;
    margin-top: 15px;
  }
  
  .pagi a {
    color: #b5292f;
    font-size: 15px;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
  }
  
  .pagi a.active {

    background-color: #b5292f;

    font-weight: bold;
    border-radius: 5px;
    color: white;
  }
  
  .pagi a:hover:not(.active) {
    background-color: rgb(182, 179, 177);
    border-radius: 5px;
  }

/* Xử lý popup thêm món */
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;  
}

.popup.hidden{
  display: none;
}



.popup_content{
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;

}

.popup h2{
  margin-top: 0;
  color: #b5292f;
  text-align: center;
}

.close_btn{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#new_item_form label{
  color :#b5292f ;
  font-weight: 500;
  font-size: 20px;
}

#new_item_form input{
  padding: 20px;
  width: auto;
  height: auto;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

#new_item_form_input select{
  padding: 10px;
  border: none;
  outline: none;
}

#item_category{
  padding: 10px;
  width: auto;
  height: auto;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

#new_item_form button{
  padding: 10px;
  outline: none;
  border: none;
  background-color: #b5292f;
  width: auto;
  height: auto;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
}



