body,
html {
  margin: 0;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  height: 100%;
}
#header {
  width: 100%;
  box-sizing: border-box;
  height: 140px;
  background-color: #ffffff;
  border-bottom: 2px solid #e6e6e6;
}
#header .containerheaderAll {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#header .containers {
  max-width: 1200px;
  max-height: 140px;
}
#header .containerss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  max-height: 95px;
}
#header .containerss .left {
  width: 50%;
}
#header .containerss img {
  width: 310px;
  height: 100px;
}
#header .containerss .right {
  width: 50%;
  display: flex;
  justify-content: end;
  gap: 40px;
  margin-right: 30px;
}
#header .containerss .right .nav_item_shop {
  position: relative;
}
#header .containerss .right .count {
  position: absolute;
  margin: 5px;
  background-color: #ffe600;
  width: 28px;
  height: 28px;
  text-align: center;
  border-radius: 50%;
  top: -2px;
  line-height: 28px;
}
#header .containerss .right .fa-solid {
  color: #b5292f;
  margin: 10px;
}
#header .containerss .right a {
  color: rgb(2, 2, 2);
  text-decoration: none;
  font-weight: 550;
}
#header .bottom {
  width: 100%;
  height: 45px;
  display: flex;
}
#header .bottom .menu {
  width: 50%;
  height: 45px;
}
#header .bottom .menu .menu-item .tabbar .fa-solid {
  margin-left: 20px;
  color: #b5292f;
  margin-right: 10px;
}
#header .bottom .menu .menu-list {
  padding: 0px;
}
#header .bottom .menu a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}
#header .bottom .menu ul {
  height: 100%;
}
#header .bottom .menu ul > li {
  list-style-type: none;
  width: max-content;
  float: left;
  font-weight: 600;
  cursor: pointer;
  padding-right: 40px;
}
#header .bottom .menu ul > li > a:hover {
  color: #b5292f;
}
#header .bottom .menu .menu-item {
  position: relative;
  height: 100%;
}
#header .bottom .menu ul .submenu {
  position: absolute;
  height: 150px;
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);

  border-top: none;
  top: 29px;
  left: 20px;
  display: none;
  background-color: white;
  color: black;
  border-radius: 0;
}
#header .menu ul > li:hover .submenu {
  display: block;
  border-radius: 10px;
  padding-top: 10px;
}
#header .menu ul.submenu > li {
  float: none;
  width: 80px;
  height: 30px;
}
#header .menu .submenu a {
  position: relative;
}
#header .menu .submenu i {
  position: absolute;
  left: -25px;
  width: auto;
  height: auto;
}
#header .bottom .search {
  width: 50%;
  height: 35px;
  display: flex;
  justify-content: end;
  position: relative;
}
#header .bottom .search input {
  width: 300px;
  padding: 10px;
  border: 1px solid #918f8f;
  border-radius: 20px;
  margin-right: 20px;
  font-weight: 600;
  background: #f9f9f9;
  color: #222222;
  margin: 0;
}
#header .bottom .search button {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #b5292f;
  border-radius: 50%;
  background-color: #b5292f;
  color: white;
  right: 10px;
  top: 5px;
}
/* Xử lý footer */
#footer {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b5292f;
  border-top: 2px solid #e6e6e6;

  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
#footer .footer-info {
  width: 100%;
  width: 800px;
  height: 50%;
  display: flex;
}
#footer .footer-info .left {
  width: 70%;
  color: white;
}
#footer .footer-info .right {
  width: 30%;
  color: white;
}
#footer .footer-info .right i {
  color: white;
  font-size: 20px;
  margin: 5px;
}
#footer .footer-social {
  display: flex;
  gap: 10px;
  color: #e6e6e6;
  margin-top: 20px;
}
#footer .footer-social a {
  color: white;
  text-decoration: none;
}
#footer .footer-social .mid {
  margin-left: 100px;
}
#container {
  width: 100%;
  height: max-content;
  background-color: white;
  margin: 50px;
}
/* Xử lý intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.intro h4 {
  color: black;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-bottom: 3px solid darkred;
}
.intro h2 {
  color: black;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid darkred;
}

/* Xử lý menu */

.containerAll {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.content_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 230px;
  text-align: center;
}

.card img {
  width: auto;
  height: 180px;
}

.card_content {
  padding: 12px;
}

.card_content h3 {
  margin: 10px 0;
  font-size: 15px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.card_content p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
  color: darkred;
}

.card_content .btn {
  display: block;
  margin: 10px 0;
  padding: 4px;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #b12704;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.card_content .btn:hover {
  background-color: #c0392b;
}

/* Xử lý pagination */
.pagination {
  text-align: center;
  margin-top: 15px;
}

.pagination a {
  color: darkred;
  font-size: 15px;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
}

.pagination a.active {
  background-color: rgba(122, 8, 8, 0.905);
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: rgb(182, 179, 177);
  border-radius: 5px;
}
#container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

/* Xử lý Pop up */
.popup {
  display: none; /* Ẩn pop-up lúc đầu */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  max-height: calc(100vh - 60px);
  box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
  border-radius: 5px;
  width: 600px;
  padding: 10px;
  text-align: left;
  overflow-y: auto;
  display: block  ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-content::-webkit-scrollbar {
  width: 8px; /* Chiều rộng thanh cuộn */
}

.popup-content::-webkit-scrollbar-thumb {
  background: #b12704; /* Màu của thanh cuộn */
  border-radius: 4px; /* Bo góc */
}

.close {
  background-color: rgb(0 0 0 / 40%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 28px;
  color: white;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content img {
  width: 100%;
  object-fit: cover;
  max-height: 375px;
}

.popup-content h2 {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.popup-content p {
  color: #b5292f;
  font-weight: 600;
  font-size: 17px;
}

.popup-content span {
  font-size: 17px;
  margin-bottom: 10px;
}

.popup-content .button-cart {
  background-color: #b12704;
  color: white;
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  margin-top: 30px;
}

.popup-content .button-cart:hover {
  background-color: #c0392b;
  color: white;
}

/* Xử lý comment */
.popup-content  .user-reviews {
  margin-top: 20px;
}

.popup-content .user-reviews h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-content .user-reviews .review-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.popup-content .user-reviews .review-item:last-child {
  border-bottom: none;
}

.popup-content .user-reviews .review-item .user-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.popup-content .user-reviews .review-item .review-date{
  font-size: 14px;
  margin-bottom: 5px;
}

.popup-content .user-reviews .review-item .review-text {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.popup-content .user-reviews .review-item .info-review{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
