#containe{
background-color: #f6f6f6;
margin-top: 20px;
margin-bottom: 20px;

margin-left: auto;
margin-right: auto;
max-width: 1050px;
min-height: 700px;
}

/* submenu search*/

.order-status-container {
    max-width: 1030px;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-bottom: 10px;
  }
  
  .status-button {
    padding: 10px 22px;
    font-size: 16px;
    border: none;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; 
  }
  
  .status-button:hover {
    background-color: #b5292f;
    color: white;
  }
  

  
  
  .search-box-container {
    max-width: 1030px;
    margin: 0px auto;
    
    display: flex;
    align-items: center;
    gap: 5px; 
  }
  

  .search-input {
    flex: 1; 
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #b5292f;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #a01e25;
  }
  
/*---------------------------*/

.idDonHang{
  
  height: 30px;
}
.line_st{
  max-width: 1000px;
  height: 1px;
  background-color: #e8e8e8;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.order-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5; 
    border-radius: 8px;

  }
  

  .order-card {
    background-color: white; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  

  .product-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
    border: 1px solid #e1e1e1;;
  }
  

  .product-info {
    flex: 1; 
  }
  
  .product-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px;
  }
  
  .product-quantity {
    font-size: 14px;
    color: #555;
  }
  

  .product-total {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: right;
    min-width: 100px;
  }
  
  .order-total {
    text-align: right;
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .total-money {
    color: #b5292f;
  }


  .order-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
  }
  
  .order-status {
    font-size: 14px;
    color: #50aaa6; 
    font-weight: bold;
  }
  
  .cancel-order-button {
    padding: 5px 15px;
    background-color: #b5292f; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-order-button:hover {
    background-color: #d9363e; 
  }
  .info-order-button {
    padding: 5px 15px;
    background-color: #b5292f; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .info-order-button:hover {
    background-color: #d9363e; 
  }
  .money{
    color: #b5292f;
    font-size: 17px;
  }
  .line_end{
    max-width: 1000px;
    height: 1px;
    background-color: #e8e8e8;
    margin-left: auto;
    margin-right: auto;
  }

  .buy-again{
    padding: 5px 15px;
    background-color: #b5292f; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .buy-again:hover{
    background-color: #d9363e;
  }

  .section{
    display: none;
  }
  .active{
    display: block;
  }

  /* Xử lý popup */
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .popup-content {
    position: relative;
    background-color: white;
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .product-rating{
  background-color: #f5f5f5;
  padding: 40px;
  margin: 20px auto;
  max-width: 1000px;
  border-radius: 8px;

  }
  
  .product-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }


  
  .product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .product-info {
    flex: 1;
  }
  
  .product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  #rating-stars i {
    margin: 20px 0;
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
  }
  
  #rating-stars i:hover,
  #rating-stars i.active {
    color: #f4c150; /* Màu vàng */
  }
  
  textarea {
    width: 80%; 
    margin: 20px auto; 
    padding: 30px; 
    font-size: 16px;  
    border: 1px solid #ddd; 
    border-radius: 5px; 
    
  }
  
  button {
    background-color: #b5292f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #a01e25;
  }
  
  