/*xu li dang nhap*/
.user-menu {
    position: relative;
    z-index: 1;
    
  }
  
  .right .submenu {
    position: absolute;
    width: 100px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: none;
  }
  
  .right .user-menu:hover .submenu {
    display: block;
    
  }
  
  .right .submenu a {
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
  }
  
  .right .submenu a:hover {
    background-color: #f0f0f0;
  }
  
  /*----------------*/